<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Categories</title>
<!-- 	<link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css"/> -->
</head>

<body>
	<p>Nav: <a href="/">Home</a>&nbsp;&nbsp;<a href="/categories">Categories</a></p>
<hr>
<h1>Welcome to the Discussion Topics!</h1>
<p style="margin:-20px 0px 20px 2px;"><a href="/categories/new">Create a Category</a>&nbsp;&nbsp;<a href="/categories/delete">Delete a Category</a></p>

{{#categories}}
<table>
	<tr>
		<!-- <td><form method="POST" action="/categories/{{id}}/vote"><button>UpVote</button></form><form method="POST" action="/categories/{{id}}"><button>DownVote</button></form></td> -->
		
		<td style="width:200px;"><a href="/categories/{{id}}">{{category_name}}</a>&nbsp;&nbsp;</td>
		<td>{{description}}</td>
	</tr>
</table>
{{/categories}}

<!-- {{#posts}}
			<td>
				<h4>{{title}}</h4>
				<p>{{body}}</p>
			</td>
		</tr>
{{/posts}} -->


</table>
</body>


</html>