<!DOCTYPE html>

<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Single Category</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css" />
</head>

<body>
<p>Nav: <a href="/">Home</a>&nbsp;&nbsp;<a href="/categories">Discussion Topics</a></p>
<hr>

{{#category}}

<p style="margin:0px 0px 0px 0px;"><a href="/categories/{{id}}/subscribe">Subscribe to Discussion Topic: {{category_name}}</a></p>
<br>
<p style="margin:0px 0px 0px 0px;"><a href="/categories/{{id}}/unsubscribe">Unsubscribe to Discussion Topic: {{category_name}}</a></p>

<hr>
	
<table style="width:900px; height: 300px;">
	<tr>	
		<td style="width:300px;">
			<h2 style="margin-top:-50px;">{{category_name}}</h2>
			<h4 style="margin-top:-20px;">{{description}}</h4>
			<span>VoteCount: {{up_vote}}</span>
			<br>
			<form method="POST" action="/categories/{{id}}/up_vote"><input type="hidden" name="category_id"/><button><a href="http://imgur.com/ml389xa"><img src="http://i.imgur.com/ml389xa.png" title="source: imgur.com" /></a></button></form>
			<br>
			<form method="POST" action="/categories/{{id}}/down_vote"><input type="hidden" name="category_id"/><button><a href="http://imgur.com/enCOGVj"><img src="http://i.imgur.com/enCOGVj.png" title="source: imgur.com" /></a></button></form>
		</td>



		<td>
			<h4 style="margin: -10px 0px 0px 0px;">Add a New Post</h4>
				<form method="POST" action="/categories/{{id}}">
					<input type="hidden" name="category_id"/>
				<label>Title:</label><br>
					<textarea type="text" cols="50" rows="1" name="title"></textarea>
				<br>
				<label>Body:</label><br>
					<textarea type="text" cols="80" rows="10" name="body"></textarea>
				<br>
				<label>Optional Exp Date:</label><br>
					<textarea type="text" cols="20" rows="1" placeholder="YYYY-MM-DD" name="expiration_date"></textarea>
				<br>
					<button style="background:cyan;">SUBMIT</button>
				</form>
		</td>
	</tr>
</table>

<hr>

<!-- 	<p style="margin: -20px 0px 10px 0px"><a href="/posts/:category_id/new">Add Post</a></p> -->
	<h2>Current Posts</h2>
	{{#previous_page}}
		<a href="/categories/{{id}}/page/{{previous_page}}">Previous Page</a>
	{{/previous_page}}
	{{#next_page}}
		<a href="/categories/{{id}}/page/{{next_page}}">Next Page</a>
	{{/next_page}}
	
	{{#pagination}}
	<h4><a href="/categories/{{category_id}}/posts/{{id}}">{{{title}}}</a>&nbsp;<span style="font-size:10px;">created: {{create_date}}</span></h4>
	<p style="margin-top:-20px;">{{{body}}}</p>
	{{/pagination}}

	{{#previous_page}}
		<a href="/categories/{{id}}/page/{{previous_page}}">Previous Page</a>
	{{/previous_page}}
	{{#next_page}}
		<a href="/categories/{{id}}/page/{{next_page}}">Next Page</a>
	{{/next_page}}
	<hr>

{{/category}}

	{{#expired_posts}}
	<h4><a href="/categories/{{category_id}}/expired_posts">View Expired Posts</a></hr>
	{{/expired_posts}}

</body>

</html>