<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Categories</title>
<!-- 	<link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css"/> -->
</head>

<body>
	<p>Nav: <a href="/">Home</a>&nbsp;&nbsp;<a href="/categories">Categories</a></p>
<hr>
<h1>Welcome to the Categories!</h1>

{{#categories}}
<table>
	<tr>
	<td><a href="/categories/{{category_name}}">{{category_name}}</a>&nbsp;&nbsp;</td>
	<td>{{description}}</td>
	</tr>
</table>
{{/categories}}

<!-- {{#posts}}
			<td>
				<h4>{{title}}</h4>
				<p>{{body}}</p>
			</td>
		</tr>
{{/posts}} -->


</table>
</body>


</html>