<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Categories</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css" />
</head>

<body>
	<p>Nav: <a href="/">Home</a>&nbsp;&nbsp;<a href="/categories">Discussion Topics</a></p>
<hr>
<h1>Welcome to the Discussion Topics!</h1>
<p style="margin:-20px 0px 20px 2px;"><a href="/categories/new">Create a Discussion Topic</a>&nbsp;&nbsp;<a href="/categories/delete">Delete an Empty 
Discussion Topic</a></p>

{{#categories}}
<table>
	<tr>
		<td style="width:200px;">
			<a href="/categories/{{id}}/page/1"><b>{{category_name}}</b></a>&nbsp;&nbsp;
		</td>
		<td>
			{{description}}
		</td>
	</tr>
</table>
{{/categories}}

</table>
</body>


</html>