<!DOCTYPE html>

<html lang="eng">

<head>
	<meta charset="UTF-8">
	<title>Creator</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css" />
</head>

<body>
<p>Nav: <a href="/">Home</a>&nbsp;&nbsp;<a href="/categories">Discussion Topics</a></p>
<hr>
	<p>The creator of museic is <a href="https://www.linkedin.com/in/davidcarlsonberg" target="_blank">David Carlson Berg</a>, a current student at General Assembly in the Web Development Immersive course. He also freelances as an HTML/CSS designer and Front-End JavaScript Developer. He would love to hear from you! <a href="mailto:davidcarlsonberg@gmail.com?subject=Hi Dave!">Drop a line.</a></p>

</body>

</html>