<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Welcome to Posts</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
	<span>Nav: <a href="/">Home</a>&nbsp;&nbsp;<a href="/categories">Discussion Topics</a></span>
	<hr>

	<h1>Welcome a feed of all posts...Fun!</h1>

	{{#previous_page}}
		<a href="/posts/{{previous_page}}">Previous Page</a>
	{{/previous_page}}
	{{#next_page}}
		<a href="/posts/{{next_page}}">Next Page</a>
	{{/next_page}}

	{{#posts}}
	<table>
		<tr>
			<td class="post">
				<b>{{{title}}}</b>
				{{{body}}}
				<span style="font-size:10px;">{{create_date}}</span>
			</td>
		</tr>
	</table>
	{{/posts}}

	{{#previous_page}}
		<a href="/posts/{{previous_page}}">Previous Page</a>
	{{/previous_page}}
	{{#next_page}}
		<a href="/posts/{{next_page}}">Next Page</a>
	{{/next_page}}
<body>

</html>