<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Welcome to Posts</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css" />
</head>

<body>
	<p>Nav: <a href="/">Home</a>&nbsp;&nbsp;<a href="/categories">Discussion Topics</a></p>
	<hr>

	<h1>Welcome to the posts page...basically a feed of posts irregardless of category...Fun!</h1>

	{{#previous_page}}
		<a href="/posts/{{previous_page}}">Previous Page</a>
	{{/previous_page}}
	{{#next_page}}
		<a href="/posts/{{next_page}}">Next Page</a>
	{{/next_page}}

	{{#posts}}
		<h4>{{{title}}}</h4>
		<p style="margin-top:-20px;">{{{body}}}</p>
	{{/posts}}

	{{#previous_page}}
		<a href="/posts/{{previous_page}}">Previous Page</a>
	{{/previous_page}}
	{{#next_page}}
		<a href="/posts/{{next_page}}">Next Page</a>
	{{/next_page}}
<body>

</html>