body{
	background-image: url("./images/.png");
	background-color: #7FFFD4;
	font-family: Arial;
}

h1{
	font-family: Helvetica;
	font-style: italic;
	text-align: center;
	color: green;
	background-color: #999999;
	border: 3px solid blue;
	border-radius: 40%;
}

h2{
	text-align: center;
	border: 3px solid orange;
	border-radius: 25%;
}

h3{
	
}

a{
	color: #707070;
}

a:visited{
	color: #999999;
}

a:hover{
	color: blue;
}