body{
	background-image: url("/images/background_gray.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	/*background-color: #7FFFD4;*/
	font-family: Arial;
}

h1{
	font-family: Helvetica;
	font-style: italic;
	text-align: center;
	color: lightgreen;
	background-color: #999999;
	border: 2px solid #999999;
	border-radius: 40%;
}

h2{
	text-align: center;
	background-color: lightblue;
	border: 2px solid lightblue;
	border-radius: 25%;
}

h3{
	
}

a{
	color: #575757;
}

a:visited{
	color: #999999;
}

a:hover{
	color: orange;
}

textarea{
	background-color: lightyellow;
}

input{
	background-color: lightyellow;
}

option{
	background-color: lightyellow;
}
button{
	background-color: lightblue;
}

p{
	color: #575757;
}

.post{
	border: 2px solid lightblue;
}

.menu{
	background-color: lightblue;
	border: 1px solid lightblue;
	border-radius: 25%;
	text-align: center;
}